body {
    margin: 0;
    font-family: 'Fire Code', monospace;
    /* display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; */
}

.container {
    /* width: 50%;
    max-width: 100%; */
}

@media (max-width: 767px) {
    /* .container {
        width: 100%;
    } */
}